<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Portfolio MS</title>
    <script src="/lib/jQuery.2.2.1.js"></script>
    <script src="/lib/bootstrap.3.3.6.js"></script>
    <link href="/lib/bootstrap.3.3.6.css" rel="stylesheet">
    <link href="/css/portfolio.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <p id="name">Manolo Schotsborg</p>
        <h1 class="center">Featured projects</h3>
        <div class="row">
          <p class="center">&horbar;</p>
          <div class="col-md-4"><h2>Book Swap App: offer and request books</h2><img src="/images/book-swap.jpg"></div>
          <div class="col-md-4"><h2>Bar Search App: find bars near you</h2><img src="/images/bar-app.jpg"></div>
          <div class="col-md-4"><h2>Stock App: display NYSE stock graphs</h2><img src="/images/stock-app.jpg"></div>
        </div>
        <footer>
          <p>Contact information: <a href="mailto:manolo.schotsborg@outlook.com">manolo.schotsborg@outlook.com</a></p>
          <p>Github: <a href="https://github.com/Manolo-S">Manolo-S</a></p>
        </footer>
      </div>
    </body>
  </html>