<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Portfolio MS</title>
    <script src="/lib/jQuery.2.2.1.js"></script>
    <script src="/lib/bootstrap.3.3.6.js"></script>
    <link href="/lib/bootstrap.3.3.6.css" rel="stylesheet">
    <link href="/css/portfolio.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
        <h1 id="name">Manolo Schotsborg</h1>
        <h2 class="center">Featured projects</h2>
        <div class="row">
          <p class="center">&horbar;</p>
          <div class="col-md-4 app"><a href="https://book-trade-ms.herokuapp.com" target="_blank">Swap books</a><img src="/images/book-swap.jpg"></div>
          <div class="col-md-4 app"><a href="https://local-bars.herokuapp.com" target="_blank">Find bars near you</a><img src="/images/bar-app.jpg"></div>
          <div class="col-md-4 app"><a href="https://nyse-stock-info.herokuapp.com/" target="_blank">NYSE Stock Info</a><img src="/images/stock-app.jpg"></div>
        </div>
        <footer>
          <a  href="mailto:manolo.schotsborg@outlook.com">email: manolo.schotsborg@outlook.com</a>
          <a href="https://github.com/Manolo-S">Github: Manolo-S</a>
        </footer>
      </div>
    </body>
  </html>