body {
	margin: 0px 0px;
	padding: 0px 0px;
}
.center {
	font-weight: 900;
	font-size: 2.5em;
	text-align: center;
}

#name {
	margin-top:2em;
	padding-top: 2em;
	font-size: 2em;
	font-weight: 700;
	text-align: center;
	color: #fff;
	background-color: #3b7875;
	height: 6em;
}


h2 {
	font-size: 1.2em;
	font-weight: bold;
	margin-left: 0.3em;
}

footer {
	/*display: block;*/
	margin-top: 2em;
	margin-bottom: 2em;
	text-align: center;
	background-color: #3b7875;
	color: #fff;
	height: 10em;
	font-size: 1.3em;
	padding-top: 3em;
}

a {
	color: #fff;
}

a:hover {
	color: #000;
}


